@using Microsoft.AspNetCore.Identity

@using Identity.Loclization;


    
        <ul class="nav navbar-nav navbar-right">
            <li><a asp-area="" asp-controller="Account" asp-action="Register">@AppResources.Register</a></li>
            <li><a asp-area="" asp-controller="Account" asp-action="Login">@AppResources.Login</a></li>
        </ul>

